<div class="midashi">あなたにぴったりの音楽に出会うサイト</div><br>

<h2>このサイトについて</h2><br>

<div class="about">
このサイトは、<br><br>

「このアーティストの曲聴いてみたいけど、私好みの曲あるかな...？」<br><br>

や<br><br>

「この曲の感じ好きだけど似たようなのあるかな...？」<br><br>

といった日常の素朴な疑問から生まれたサイトです。<br><br>


曲に"タグ"がついており<br><br>

「〇〇」<br>
　#クール<br>
　#ダンサブル<br>
　#ストリングス<br>
　#夜に聴きたい<br><br>

もし自分好みのタグがついていればついているほど、あなたの好みの曲であることを表します。<br><br>

いいねボタンで自分の好みの曲を整理したり、コメントでタグでは表せない好きなポイントを語ることができます。<br><br>

是非、ご利用ください<br><br>
</div>