<h2>タグ一覧</h2>

<div class="tag-container">
  <% @tags.each do |t| %>
    <div class="tag">
      ・<%= t.tag %>
      <% if user_signed_in? && current_user.id == t.user_id %>
        <%= link_to "削除", "/tags/#{t.id}", method: :delete, data: { confirm: '削除しますか？' } %>
      <% end %>
    </div>
  <% end %>
</div>

<br>

<%= link_to "タグを新しく投稿する", tags_new_path %>