/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    padding: 0;
    margin: 0;
  }
  .title{
    color: white;
    margin-left: 20px;
    text-shadow: 4px 4px 5px black;
    font-family: 'Libre Baskerville', serif;
    font-size: 32px;
  }
  body {
    font-family: sans-serif;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    background-color: rgb(255, 229, 142);
  }
  header {
    background-color: red;
    height: 80px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: -webkit-linear-gradient(45deg,transparent 40%,rgba(255,255,255,.3) 40%,rgba(255,255,255,.3) 60%,transparent 60%);
    background-image:         linear-gradient(45deg,transparent 40%,rgba(255, 248, 147, 0.616) 40%,rgba(255,255,255,.3) 60%,transparent 60%);
    background-repeat: no-repeat;
  }
  header a {
    color: white; 
    text-decoration: none; 
  }
  header h1 {
    color: white;
    margin-left: 20px;
    text-shadow: 4px 4px 5px black;
  }
  .header-list {
    display: flex;
    align-items: center;
    background: transparent;
    color: #fff;
    margin: 20px 20px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  header ul {
    display: table;
  }
  header li {
    list-style: none;
    margin-right: 20px;
    text-shadow: 4px 4px 5px black;
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
    padding-left: 10px;
  }
  main{
    flex: 1;
    margin: 0px 15% 20px 15%; /* 外側の余白を、上、右、下、左 */
    padding: 0;                   /* 内側の余白を消す(念のため) */
  }
  footer {
    color: white;
    height: 30px;
    background-color: red;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: -webkit-linear-gradient(45deg,transparent 40%,rgba(255,255,255,.3) 40%,rgba(255,255,255,.3) 60%,transparent 60%);
    background-image:         linear-gradient(45deg,transparent 40%,rgba(255,255,255,.3) 40%,rgba(255,255,255,.3) 60%,transparent 60%);
    background-repeat: no-repeat;
  }
html{
  background-size: 100% 200%;
}
.name{
  color: yellow;
  text-shadow: black;
}
/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #ffd993;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
  color: black;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}
.sp-nav {
  display: none;
}
#hamburger {
  display: none;
}

@media screen and (max-width: 480px) {
  .header-list {
     display: none;
  }
  .sp-nav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    opacity: 0;
    transform: translateY(-100%);
    transition: all .2s ease-in-out;
 }
 #hamburger {
    position: relative;
    display: block;
    width: 30px;
    height: 25px;
    margin: 0 20px 0 20px;
 }
 #hamburger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: translateY(-50%);
 }
 #hamburger::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
 }
 #hamburger::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 2px;
    background-color: #fff;
 }
 /*スマホメニュー*/
 .sp-nav ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
 }
 .sp-nav li {
    margin: 0;
    padding: 0;
 }
 .sp-nav li span {
    font-size: 15px;
    color: #fff;
 }
 .sp-nav li a, .sp-nav li span {
    display: block;
    padding: 20px 0;
 }
 /*-閉じるアイコンー*/
 .sp-nav .close {
    position: relative;
    padding-left: 20px;
 }
 .sp-nav .close::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate( 45deg );
 }
 .sp-nav .close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate( -45deg );
 }
 .toggle {
    transform: translateY( 0 );
    opacity: 1;
 }
}
