.detail{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: black;/*文字色*/
    background: #FFF;
    border: solid 3px rgb(255, 186, 57);/*線*/
    border-radius: 10px;/*角の丸み*/
}

.Tag{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: black;/*文字色*/
    background: #FFF;
    border: solid 3px rgb(255, 186, 57);/*線*/
    border-radius: 10px;/*角の丸み*/
}

.liked-user {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: black;/*文字色*/
    background: #FFF;
    border: solid 3px rgb(255, 186, 57);/*線*/
    border-radius: 10px;/*角の丸み*/
}

.comment-wrapper {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: black;/*文字色*/
    background: #FFF;
    border: solid 3px rgb(255, 186, 57);/*線*/
    border-radius: 10px;/*角の丸み*/
}